body {
    margin: 0;
    font-family: 'Arial', sans-serif;
}

.slider-container {
    position: relative;
    max-width: 800px;
    margin: auto;
    overflow: hidden;
}

.slider {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.slide {
    min-width: 100%;
    box-sizing: border-box;
}

button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
    background: transparent;
    border: none;
    outline: none;
    cursor: pointer;
}

.prev {
    left: 0;
}

.next {
    right: 0;
}

img {
    height: 100%;
    width: 100%;
}
